@model IEnumerable<ASPNET_CoreSessionApps.Models.Product>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <td>ProductId</td>
            <td>ProductName</td>
            <td>Unit Price</td>
             
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductId
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>
                @*<td>
                    @item.Category.CategoryName
                </td>*@
                <td>
                    <a asp-controller="Product" asp-action="SelectForPurchase" asp-route-id="@item.ProductId">Select Product</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                   <a asp-controller="Category" asp-action="Index">Select Different Category</a>
            </td>
        </tr>
    </tfoot>
</table>
